{#
/**
 * Template ajustado para evitar renderização de campos vazios.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_banner_type|render ? 'banner-type-' ~ content.field_banner_type[0]['#markup']
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      
      {# Imagem Responsiva #}
      {% if content.field_image_responsive|render %}
        <div class="banner-image">
          {{ content.field_image_responsive }}
        </div>
      {% endif %}

      <div class="container mx-auto content-text px-4 py-12">
        
        {# Título com lógica de primeira palavra colorida #}
        {% if content.field_section_title|render %}
          {% set title = content.field_section_title[0]['#context']['value'] %}
          {% set words = title|split(' ') %}
          <h2>
            <span class="text-primary">{{ words[0] }}</span>
            {{ words|slice(1)|join(' ') }}
          </h2>
        {% endif %}

        {# Subtítulo #}
        {% if content.field_subtitle|render %}
          <h3>{{ content.field_subtitle[0]['#context']['value'] }}</h3>
        {% endif %}

        {# Texto Principal #}
        {% if content.field_text|render %}
          <div class="field-text">
            {{ content.field_text }}
          </div>
        {% endif %}

        {# Seção de CTAs #}
        {% if content.field_cta_primary|render or content.field_cta_secondary|render %}
          <div class="mt-6 ctas flex flex-col md:flex-row gap-4">
            
            {% if content.field_cta_primary|render %}
              <a href="{{ content.field_cta_primary[0]['#url'] }}" class="btn btn-primary max-w-[250px]">
                {{ content.field_cta_primary[0]['#title'] }}
              </a>
            {% endif %}

            {% if content.field_cta_secondary|render %}
              <a href="{{ content.field_cta_secondary[0]['#url'] }}" class="btn btn-default max-w-[250px]">
                {{ content.field_cta_secondary[0]['#title'] }}
              </a>
            {% endif %}

          </div>
        {% endif %}

      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}