<ul class="flex flex-col md:flex-row md:gap-6 items-start md:items-center md:justify-end">
  {% for item in items %}
    <li class="relative group {% if item.below %}has-dropdown{% endif %}">
      <a href="{{ item.url }}" class="text-sm tracking-wide hover:text-neutral-600 transition-colors {{ item.in_active_trail ? 'text-gray-900' : 'text-gray-600' }}">
        {{ item.title }}
      </a>

      {% if item.below %}
        <ul class="dropdown hidden absolute left-0 mt-2 bg-white shadow-md rounded-md min-w-[200px] z-50">
          {% for subitem in item.below %}
            <li>
              <a href="{{ subitem.url }}" class="block px-4 py-2 text-sm hover:bg-gray-100">
                {{ subitem.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
