{#
/**
 * @file
 * Template para o Media Type 'Responsive Image'.
 * Aqui montamos a tag <picture> usando campos individuais de mídia.
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not status ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {% if content.field_media_image|render %}
    <picture>
      {# Mobile #}
      {% if media.field_image_mobile.entity %}
        <source media="(max-width: 767px)" srcset="{{ file_url(media.field_image_mobile.entity.uri.value) }}">
      {% endif %}

      {# Tablet #}
      {% if media.field_image_tablet.entity %}
        <source media="(min-width: 768px) and (max-width: 1024px)" srcset="{{ file_url(media.field_image_tablet.entity.uri.value) }}">
      {% endif %}

      {# Desktop Large #}
      {% if media.field_image_desktop_large.entity %}
        <source media="(min-width: 1440px)" srcset="{{ file_url(media.field_image_desktop_large.entity.uri.value) }}">
      {% endif %}

      {# Desktop Normal (Fallback) #}
      {# Usamos a tag <img> padrão do campo principal como base para SEO e acessibilidade #}
      {% set main_img_url = file_url(media.field_media_image.entity.uri.value) %}
      {% set alt_text = media.field_media_image.alt %}
      
      <img src="{{ main_img_url }}" alt="{{ alt_text }}" loading="lazy">
    </picture>
  {% endif %}
</div>